# TODO clang-analyzer checks don't seem to be running under clangd?
Checks: |
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  llvm-*,
  misc-*,
  modernize-*,
  mpi-*,
  openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers

CheckOptions:
  - { key: readability-identifier-naming.ClassCase, value: CamelCase }
  - { key: readability-identifier-naming.StructCase, value: CamelCase }
  - { key: readability-identifier-naming.TypeAliasCase, value: CamelCase }
  - { key: readability-identifier-naming.EnumCase, value: CamelCase }
  - {
      key: readability-identifier-naming.TypeTemplateParameterCase,
      value: CamelCase,
    }
  - { key: readability-identifier-naming.ConceptCase, value: CamelCase }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  # TODO ClassMemberCase does not seem to be working.
  - { key: readability-identifier-naming.ClassMemberCase, value: lower_case }
  - { key: readability-identifier-naming.ClassMemberSuffix, value: _ }
  - { key: readability-identifier-naming.ConstexprVariablePrefix, value: k }
  - {
      key: readability-identifier-naming.ConstexprVariableCase,
      value: CamelCase,
    }
  - { key: readability-identifier-naming.FunctionCase, value: aNy_CasE }
  - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
  - { key: readability-identifier-naming.EnumConstantPrefix, value: k }
  - { key: readability-identifier-naming.EnumConstantCase, value: CamelCase }
  - {
      key: readability-identifier-naming.ValueTemplateParameterCase,
      value: lower_case,
    }
  - {
      key: readability-identifier-naming.MacroDefinitionCase,
      value: UPPER_CASE,
    }
